@page
@model ClassTrack.Pages.AttendanceReport
@{
    ViewData["Title"] = "Attendance Report";
}
<div class="card p-4 mb-4 col-6 rounded-3 mx-auto shadow-sm" style="margin-top: 150px;">
    <h2 class="mx-auto mt-2">Attendance Report</h2>
    <table class="table table-striped-columns">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">ID</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
        <tbody>
        @{
            for (int i = 0;i< Model.Student_Name.Count;i++)
            {
                   <tr>
                        <th scope="row">@i</th>
                        <td>@Model.Student_Name[i]</td>
                       <td>@Model.Student_Id[i]</td>
                       <td>@Model.Time_of_Submission[i]</td>
                    </tr>
                }
                    
        }
        
        
        
        </tbody>
    </table>
<form method="post">

    <button type="submit" class="btn btn-primary mt-4 w-100 d-block">Add Task</button>
</form>
</div>