@page
@model ClassTrack.Pages.CoursePage

@{

    ViewData["Title"] = "Sessions Dashboard";
}

<section class="instructor-page-container">
    <div class="card-container">
        @if (Model.Sessions != null)
        {
            foreach (var session in Model.Sessions)
            {
                <div class="class-card m-3" style="">
                    <h3 class="text-black h1">Week @session.SessionID</h3>
                    <form method="post">
                        <button type="submit" name="SelectedSession" value="@session.SessionID" class="btn btn-sm btn-outline-primary">Attend</button>
                    </form>
                </div>
            }
        }
        else
        {
            <h2 class="text-center">No sessions found for the student.</h2>
        }
    </div>
</section>

<style>
    
    .instructor-page-container {
        display: grid;
        place-items: center;
        height: 100%;
    }

    .card-container {
        background: white;
        margin: 2% ;
        width: 105%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        gap: 20px;
        border-radius: 1%;
    }

    .class-card {
        background: white;
        color: lightgray;
        width: 95%;
        height: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        position: relative;
        margin: 2% 1%;
        border-radius: 3%;
    }

    .class-title {
        text-align: center;
        color: black;
    }

    .button-group {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 6%;
    }

</style>
