@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="css/site.css">

<div class="container" style="margin-top: 15%">
    <div class="row align-items-center">
        <div class="col-sm-8">
            <h3 class="display-6 fw-bolder" style="color: white">Welcome To ClassTrack</h3>
            <p class="display-6" style="color: white;">The Only Attendance Tracker You Will Ever Need</p>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h2 class="m-5 card-title text-center">Sign in Or Sign Up To Continue:</h2>
                <div class="d-block m-2">
                    <form asp-page-handler="signin" method="post">
                        <button type="submit" class="btn btn-primary m-2 mx-auto w-100">Sign In</button>
                    </form>
                    <form asp-page-handler="register" method="post">
                        <button type="submit" class="btn btn-primary m-2 mx-auto w-100">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>