@page
@model ClassTrack.Pages.SigninModel
@{
    ViewData["Title"] = "Sign In Page";
}

<container style="display: grid;
place-items: center">
    <div class="card p-4 mb-4 col-3 rounded-3 mx-auto shadow-sm" style="margin-top: 150px;">
        <h2 class="mx-auto mt-2">Sign In</h2>
        <div class="form-group mt-2">
            <form method="post">
                <div class="form-group mt-3">
                    <label for="User_ID">Student ID:</label>
                    <input asp-for="@Model.userNameInput" id="User_ID" class="form-control" placeholder="John Doe" type="text"/>
                    <span asp-validation-for="@Model.userNameInput" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="User_Password">Password:</label>
                    <input asp-for="@Model.passwordInput" id="User_Password" class="form-control" placeholder="Password" type="password"/>
                    <span asp-validation-for="@Model.passwordInput" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <button type="submit" class="btn btn-primary mt-4 w-100 d-block">Sign In</button>
            </form>
        </div>
    </div>
</container>
